name: build-and-test

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Build and test
        run: make

